    <footer class="footer mt30">
        <div class="container-fluid">
            <div class="row">

                <!--
                <div class="footer-logo pull-left">
                    <img src="<%- makeURL('/images/s-logo-white.png') %>" alt="SimCase" style="height:20px;">
                </div>
                -->

                <div class="footer-text pull-left">
                    <a href="https://simcase.io" target="_blank" style="color:#FFF;">Powered&nbsp;by SimCase</a>
                </div>

                <div class="footer-right pull-right">
                    <a href="#" id="about-link" style="color:#FFF;">About</a>
                    <span style="opacity:0.5;">&nbsp; | &nbsp;</span>
                    <a href="mailto:hello@simcase.io" style="color:#FFF;">help@simcase.io</a>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="<%- makeURL('/js/utils.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/js/scripts.js') %>"></script>

    <script>
        jQuery(document).ready(function(){
            var menuAbout = document.getElementById('about-link');
            menuAbout.addEventListener('click', function(e){

                e.preventDefault();

                var aboutHTML = '';
                aboutHTML += '<div class="text-center" style="padding:0 20px 0 20px;">';
                aboutHTML +=    '<div class="mt30" style="margin-left:-20px; margin-right:-20px;">';
                aboutHTML +=        '<img src="<%- makeURL('/game_assets/assets/logo_wide.png') %>" style="max-width: 100%; width: 200px;" alt="Logo"></div>';
                aboutHTML +=    '</div>';
                aboutHTML +=    '<p class="mt30">Copyright © 2017, SimCase</p>';
                aboutHTML += '</div>';

                bootbox.alert({
                    title: 'About',
                    message: aboutHTML
                });

            });
        });
    </script>

</body>
</html>
