    <footer class="footer mt30">
        <div class="container">
            <div class="row">
                <!--
                <div class="footer-logo pull-left">
                    <img src="<%- makeURL('/images/s-logo-white.png') %>" alt="SimCase" style="height:20px;">
                </div>
                -->

                <div class="footer-text pull-left">
                    Powered&nbsp;by SimCase
                </div>

                <div class="footer-right pull-right">
                    <a href="mailto:hello@simcase.io">help@simcase.io</a>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="<%- makeURL('/js/utils.js') %>"></script>
    <script type="text/javascript" src="<%- makeURL('/js/scripts.js') %>"></script>

</body>
</html>
