body{
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 50px;
    min-height: 100vh;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}

/* Margins */
.mt0{margin-top:0;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt55{margin-top:55px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px;}

.mb0{margin-bottom:0;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mb70{margin-bottom:70px;}
.mb80{margin-bottom:80px;}
.mb90{margin-bottom:90px;}
.mb100{margin-bottom:100px;}


/* GENERAL */
.page-header{margin-top:0;}


/* NAVBAR */
.navbar{margin-bottom: 0;}
.navbar-brand{
    font-size: 30px;
    line-height: 34px;
    font-weight: 300;
}
.navbar-brand a{
    color: #FFF;
    text-decoration: none;
}


/* SLIDE MENU */
#slide-menu-container{
    overflow: hidden;
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    right: 0;
}
#slide-menu-container.active{
    width: 100%;
}
#slide-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    z-index: 9999;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
}
#slide-menu.active{ left: 0; }
#slide-menu ul{
    top: 10px;
    right: 10px;
    width: 300px;
}
#slide-menu .menu-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.profile-btn {
    font-size: 12px;
    opacity: 0.8;
}
.profile-btn small{text-transform: capitalize;}


/* SLIDE MENU */
#slide-menu-container{
    overflow: hidden;
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    right: 0;
}
#slide-menu-container.active{
    width: 100%;
}
#slide-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    z-index: 9999;
    -webkit-transition: left .3s;
    -moz-transition: left .3s;
    -ms-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
}
#slide-menu.active{
    left: 0;
}
#slide-menu .menu-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.secondary-bar h1,
.secondary-bar h2,
.secondary-bar h3,
.secondary-bar h4,
.secondary-bar h5,
.secondary-bar h6{
    font-weight: 300;
}

.main{
    min-height: 500px;
    margin-top: 20px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    font-size: 12px;
    font-weight: 300;
    color: #FFF;
}
footer.fixed{ position: fixed; }
footer a{color: #FFF;}
.footer-text{}
.footer-right, .footer-text{
    margin-top: 4px;
}

a.disabled {
   pointer-events: none;
   cursor: default;
}

.panel-default.dotted{
    border: 1px dashed #CCC;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
    border: none !important;
}
.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 7px 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 4px 0 0 4px;
    line-height: 1.42857143;
}

.v-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* DASHBOARD */
#dash-saved .panel-default:hover,
#dash-launched .panel-default:hover,
#dash-finalized .panel-default:hover{
    background: #F8F8F8;
}

#dash-saved .panel-default,
#dash-launched .panel-default,
#dash-finalized .panel-default{
    min-height: 180px;
}


/* GAME CREATION */
#create-form label ul{
    font-weight: 300;
}


/* Form validations */
label.error{
    position: absolute;
    left: 0;
    font-size: 11px;
    color: #fff;
    background: #ee3300;
    padding: 1px 3px;
    border-radius: 3px;
    font-weight: 400;
    margin-top: 2px;
}
.form-group > label.error{margin-left: 15px;}


/* GAME SETUP */
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {
    line-height: 32px;
}
.bootstrap-switch-id-magiclink{
    margin-top: -10px;
}


/* FORMS COLLAPSE */
.btn.coll-toggle,
.btn.coll-toggle:hover{
    text-decoration: none;
    color: #EEE;
}
.btn.coll-toggle.collapsed{
    color: #666;
    background: #dedede;
}

.coll-toggle .coll{display: none;}
.coll-toggle .nocoll{display: inline;}

.coll-toggle.collapsed .coll{display: inline;}
.coll-toggle.collapsed .nocoll{display: none;}

/* REGISTRATION LINKS & SHORTLINK */
#reg-link{
    display: block;
    width: 100%;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0;
}

#shortlink{
    display: inline-block;
    width: 100%;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0;
    border: none;
    border-radius: 8px;
    background: transparent;
}
#shortlink:focus{
    background: rgba(255,255,255,.4);
}

/* Instructions */
#instructions .tab-content{
    padding: 15px;
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 20px;
    background: #FFF;
}
#instructions ol li,
#instructions ul li{margin-bottom: 15px;}


#container-carousel.carousel-inner .force-block{
    display: block;
}

/* Players list */
#players_text{
    font-size: 16px;
    background: #FFF;
    color: #333;
}
#importer{font-size: 16px;}
#player-list .input-group input{z-index: -1;}
#player-list .input-group .input-group-addon{display: none;}




/* DEBRIEF */

#items-nav a.itemnum.rev{
    color: #FFF;
    border-color: #836EAA;
    background: #836EAA;
}

.item-data{
    padding: 15px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}


/* BOOTBOX */
.bootbox .modal-title,
.bootbox .modal-body{
    text-align: center;
}


/* CRUD LIST */
#crud-list thead th,
#table_pair thead th{
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
}
#crud-list td,
#table_pair td{vertical-align: middle;}

/* TABLE SORT */
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
    display: inline-block;
    margin-left: 4px;
    border-width: 0 5px 8px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 8px 5px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}



/* DEBRIEF */

.btn-quartiles,
.btn-percents,
.btn-quartiles *,
.btn-percents *{
    cursor: pointer;
}
.btn-quartiles label,
.btn-percents label{
    font-weight: 400;
}


/* MEDIA QUERIES */
@media screen and (min-width: 768px){
    .jumbotron {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


.inner-padding{
    padding:20px;
}
.padd10{
    padding: 10px;
}

.text-left{
    text-align: left;
}

.center{
    text-align: center;
}

ol, ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon-button {
   filter: opacity(20%);
}

.mlr10 {
 margin-left: 10px;
    margin-right: 10px;
}

.icon-button.active{
    cursor: pointer;
    filter: none;
}

.leaderboard-icon {
    height: 110px;
}

.item-icon {
    width: 100%;
}

.item-icon.complete {
    filter: opacity(20%);
}

.border-right{
    border-right: lightgray solid 1px;
}

.piechart{
    height: 400px
}

.chart-help{

    float: right;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.help {
    cursor: pointer;
}
