/*
 * SIMCASE THEME: Purple
 * By Davoscript for SimCase
 */

body{
    font-family: 'Lato', sans-serif;
    background-color: #a853fd;
}

.bgcolors{
    background-image: linear-gradient(135deg, rgba(254, 120, 216, 1), rgba(168, 83, 253, 1));
    background: linear-gradient(135deg, rgba(254, 120, 216, 1), rgba(168, 83, 253, 1));
}

.bgicon{
    background-image: url('../images/logo-bg.png'),
        linear-gradient(135deg, rgba(254, 120, 216, 1), rgba(168, 83, 253, 1));
    background: url('../images/logo-bg.png'),
        linear-gradient(135deg, rgba(254, 120, 216, 1), rgba(168, 83, 253, 1));
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}

a{ color: #3eced7; }
a:hover{ color: #36b3bb; }

.logobg{
    background-image: url('../images/s-logo-white.png');
}

.title-color{
    color: #6c55ff;
}


.panel-sidebar{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #FFF;
}


/* Bootstrap Buttons */
.btn-primary{
    border: 1px solid #36b3bb;
    background: #3eced7;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:focus:active,
.btn-primary:active,
.btn-primary:active:hover{
    border: 1px solid #36b3bb;
    background: #36b3bb;
}
