/*
 * SIMCASE THEME: Purple
 * By Davoscript for SimCase
 */

body{
    font-family: 'Lato', sans-serif;
    color: #445360;
    background-color: #a853fd;
}

.bgcolors{
    background-image: linear-gradient(135deg, rgba(254, 120, 216, 1), rgba(87, 41, 134, 1));
    background: linear-gradient(135deg, rgba(254, 120, 216, 1), rgba(87, 41, 134, 1));
}

.bgicon{
    background-image: url('../images/logo-bg.png'),
        linear-gradient(135deg, rgba(254, 120, 216, 1), rgba(87, 41, 134, 1));
    background: url('../images/logo-bg.png'),
        linear-gradient(135deg, rgba(254, 120, 216, 1), rgba(87, 41, 134, 1));
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}

a{ color: #3eced7; }
a:hover{ color: #36b3bb; }

.logobg{
    background-image: url('../images/s-logo-white.png');
}

.title-color{
    color: #6c55ff;
}

.panel{ box-shadow: none; }
.panel-heading{ border-radius:0; background: #cbdee9; }
.panel-heading .btn{ color: #445360; }
.panel-sidebar{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #FFF;
}

.circle{
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    border-radius: 50%;
    color: #FFF;
    background: #6a52ff;
}

.navbar-ds{
    background: rgba(68, 83, 96, 1);
}


/* Navigation */
#main-menu{ background: rgba(68, 83, 96, .5); }
#main-menu.affix{ background: rgba(68, 83, 96, .8); }

#module-name{ color: rgba(255,255,255,.9); }

.secondary-bar{ border-left: 3px solid #6c55ff; }


/* Menu Modal */
#menu-modal{
    background: rgba(71, 83, 101, 1);
}


/* Slide menu */
#slide-menu ul{
    background: #FFF;
}
#slide-menu ul li > a,
#slide-menu ul li > span{
    color: #3eced7;
    border-left: 3px solid #FFF;
}

#slide-menu ul li.active > a,
#slide-menu ul li.active > span,
#slide-menu ul li > a:hover,
#slide-menu ul li > span:hover{
    color: #445360;
    border-left: 3px solid #6c55ff;
    background: #e1dcff;
}

#slide-menu ul .profile-info{ color: #3eced7; }
#slide-menu ul .close-menu{ color: #FFF; }


/* Game Setup */
#shortlink{ color: #445360; }

.btn.coll-toggle,
.btn.coll-toggle:hover{
    color: #EEE;
    background: #445360;
}



/* Bootstrap Buttons: Button */
.btn{
    color: #FFF;
    border: 1px solid #cbdee9;
    background: #cbdee9;
}
.btn.active,
.btn:hover,
.btn:focus,
.btn:focus:active,
.btn:active,
.btn.active:hover,
.btn:active:hover{
    border: 1px solid #cbdee9;
    background: #cbdee9;
}
/* Bootstrap Buttons: Link */
.btn-link{
    border: none;
    background: transparent;
}
.btn-link.active,
.btn-link:hover,
.btn-link:focus,
.btn-link:focus:active,
.btn-link:active,
.btn-link.active:hover,
.btn-link:active:hover{
    border: none;
    background: transparent;
}
/* Bootstrap Buttons: Default */
.btn-default{
    color: #FFF;
    border: 1px solid #37b5bd;
    background: #3eced7;
}
.btn-default.active,
.btn-default:hover,
.btn-default:focus,
.btn-default:focus:active,
.btn-default:active,
.btn-default.active:hover,
.btn-default:active:hover{
    color: #FFF;
    border: 1px solid #37b5bd;
    background: #37b5bd;
}
/* Bootstrap Buttons: Primary */
.btn-primary{
    border: 1px solid #5541d2;
    background: #6a52ff;
}
.btn-primary.active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:focus:active,
.btn-primary:active,
.btn-primary.active:hover,
.btn-primary:active:hover{
    border: 1px solid #5541d2;
    background: #5541d2;
}
/* Bootstrap Buttons: Success */
.btn-success{
    border: 1px solid #1f7c82;
    background: #27979e;
}
.btn-success.active,
.btn-success:hover,
.btn-success:focus,
.btn-success:focus:active,
.btn-success:active,
.btn-success.active:hover,
.btn-success:active:hover{
    border: 1px solid #1f7c82;
    background: #1f7c82;
}
/* Bootstrap Buttons: Info */
.btn-info{
    border: 1px solid #1f71d6;
    background: #2687ff;
}
.btn-info.active,
.btn-info:hover,
.btn-info:focus,
.btn-info:focus:active,
.btn-info:active,
.btn-info.active:hover,
.btn-info:active:hover{
    border: 1px solid #1f71d6;
    background: #1f71d6;
}
/* Bootstrap Buttons: Warning */
.btn-warning{
    border: 1px solid #da7410;
    background: #ff8814;
}
.btn-warning.active,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:focus:active,
.btn-warning:active,
.btn-warning.active:hover,
.btn-warning:active:hover{
    border: 1px solid #da7410;
    background: #da7410;
}
/* Bootstrap Buttons: Danger */
.btn-danger{
    border: 1px solid #d84838;
    background: #fd5846;
}
.btn-danger.active,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:focus:active,
.btn-danger:active,
.btn-danger.active:hover,
.btn-danger:active:hover{
    border: 1px solid #d84838;
    background: #d84838;
}




.jumbotron{ background: #e1dcff; }

.nav-pills>li>a{
    color: #36b3bb;
    border: 1px solid #36b2ba;
    background-color: #FFF;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #36b3bb;
}


/* Debrief Bar */
#inner-menu.nav-pills>li>a{
    border: none;
}
#inner-menu.nav-pills>li>a:hover{
    color: #6c55ff;
}
#inner-menu.nav-pills>li.active>a,
#inner-menu.nav-pills>li.active>a:focus,
#inner-menu.nav-pills>li.active>a:hover{
    color: #6c55ff;
    font-weight: 600;
    border: none;
    background: transparent;
}





/* Highcharts */
/* Default colors */
.highcharts-color-0 {
  fill: #715aff;
  stroke: #715aff; }

.highcharts-color-1 {
    fill: #47d0d8;
  stroke: #47d0d8; }

.highcharts-color-2 {
  fill: #505f6b;
  stroke: #505f6b; }

.highcharts-color-3 {
  fill: #e1dcff;
  stroke: #e1dcff; }

.highcharts-color-4 {
  fill: #8085e9;
  stroke: #8085e9; }

.highcharts-color-5 {
  fill: #188b92;
  stroke: #188b92; }

.highcharts-color-6 {
  fill: #ffb8ea;
  stroke: #ffb8ea; }

.highcharts-color-7 {
  fill: #c55ff0;
  stroke: #c55ff0; }

.highcharts-color-8 {
  fill: #bcf4f7;
  stroke: #bcf4f7; }

.highcharts-color-9 {
  fill: #27979e;
  stroke: #27979e; }
.highcharts-errorbar-series .highcharts-point{
    stroke: transparent;
}
.highcharts-column-series .highcharts-point {
    stroke: inherit;
    fill: inherit;
}






/* Game */
.modal-backdrop.in{
    opacity: 1;
    background: rgba(71, 83, 101, .8);
}
.modal-content .close{
    color: #FFF;
    background: #6a52ff;
}
.modal-footer .btn-default{}



footer{ background: #a1a9af; }




/* Library: Bootstrap Slider */

.slider-handle {
    background-color: #a853fd;
    background-image: -webkit-linear-gradient(top,#a853fd 0,#0480be 100%);
    background-image: -o-linear-gradient(top,#a853fd 0,#0480be 100%);
    background-image: linear-gradient(to bottom,#a853fd 0,#0480be 100%);
    background-repeat: repeat-x;
}



/* Library: Bootstrap Tour */
.popover.tour-baseapp{
    font-weight: 300;
    color: #FFF;
    background: #6a52ff;
}
.popover.tour-baseapp.left > .arrow:after{border-left-color: #6a52ff;}
.popover.tour-baseapp.right > .arrow:after{border-right-color: #6a52ff;}
.popover.tour-baseapp.top > .arrow:after{border-top-color: #6a52ff;}
.popover.tour-baseapp.bottom > .arrow:after{border-bottom-color: #6a52ff;}
.popover.tour-baseapp .popover-title{
    border: none;
    background: transparent;
}

.popover.tour-baseapp .popover-navigation{padding: 5px;}
.popover.tour-baseapp .btn-default{
    border: none;
    background: transparent;
}
